.navbar {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    border-bottom: 1px solid #ddd;
    position: fixed;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;

    /* background-image: linear-gradient(
        to right,
        rgba(255, 0, 0, 0.3),
        rgb(204, 111, 105)
    ); */
}

.logo {
    font-size: 22px;
}
/* .cocktail_logo {
    width: 80px;
    height: 75px;
    opacity: 0.95;
} */
.links {
    max-height: 80px;
    padding-left: 0;
}

.links li {
    display: inline;
    padding: 14px 16px;
    margin-left: 12px;
}
.links li:last-child {
    padding-right: 0;
}

.links a {
    text-decoration: none;
    font-size: 20px;
}
.links a:hover {
    background-color: rgb(134, 155, 166);
}

@media only screen and (max-width: 1508px) {
    .links a {
        text-decoration: none;
        font-size: 15px;
    }
}

@media only screen and (max-width: 1340px) {
    .rightSide #hidden {
        position: absolute;
        left: 0px;
        top: 80px;
        height: 230px;
        width: 100%;
        background-color: #021e39;
    }
}

.logout {
    appearance: none;
    background-color: transparent;
    border: none;
}
